<%- include('partials/header'); -%>
  <!-- don't add ejs tags to html only for values and scripts -->
  <h1>Heading</h1>
  <p>
    <%= startingContent %>
  </p>

  <% posts.forEach(post=>{ %>
    <h1>
      <%= post.postTitle %>
    </h1>
    <p>
      <%= post.postContent.substring(0, 150) + "..." %> <br>
        <a href="/<%= post.postTitle %>">Read more..</a>
    </p>

    <% });%>

      <%- include('partials/footer'); -%>